/*!
 * Show Code v1.0.0
 * Copyright Federico Manzano
 * Licencia MIT
 * Repositorio (https://github.com/FedericoManzano/show-code-v1.0.0-fuente)
 */
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
pre[class^=cod-] {
    padding-top: 20px;
    overflow: auto;
    font-family: 'Source Code Pro';
    font-weight: 300;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    font-size: 1em;
}

