
@import "generales";



pre[class^=cod-] {
    background-color: rgb(16, 21, 26) !important;
    color: rgb(197, 197, 197) !important;

    .numeracion {
        background-color: rgb(16, 21, 26);
        span {
            background-color: rgb(16, 21, 26);
            border-bottom: 1px solid rgba(0, 0, 0, 0.178);
            color: rgb(197, 197, 197) !important;
        }
    }
}


.show-eti {
    color: rgb(255, 31, 31) !important;
}

.show-ang {
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
}

.show-attr {
    color: rgb(0, 201, 157) !important;
}

.show-string {
    color: rgb(255, 136, 0) !important;
}

.show-com {
    color: rgb(69, 209, 100) !important;
}

/**
    CSS
*/

.show-selectores {
    color: rgb(255, 225, 53) !important;
}

.show-claves {
    color: rgb(196, 108, 255) !important;
    font-weight: 500;
}

.show-prop {
    color: rgb(91, 189, 255) !important;
}

.show-valor {
    color: rgb(253, 160, 39) !important;
}

.show-llaves {
    color: rgb(255, 255, 255) !important;
}



.show-res {
    color: rgb(207, 39, 39) !important;
    font-weight: 500;
}

.show-nombres {
    color: rgb(175, 106, 27) !important;
}

.show-control {
    color: rgb(220, 45, 255) !important;
    font-weight: 500;
}


.show-op {
    color: rgb(4, 160, 100) !important;
    font-weight: 500;
}

.show-var {
    color: rgb(14, 199, 212) !important;
    font-weight: 500;
}
.show-sistema {
    color: rgb(0, 206, 127) !important;
    font-weight: 500;
}
.show-numeros {
    color: rgb(255, 136, 0) !important;
}

.show-ajava {
    color: rgb(20, 241, 120) !important;
    font-weight: 300;
}
.show-sobre {
    color: rgb(201, 201, 201) !important;
    font-style: italic;
}

.show-met {
    color: rgb(255, 176, 5) !important;
    font-weight: 500;
}

.show-retorno {
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
}

.show-llamadas {
    color: rgb(255, 176, 5) !important;
    font-weight: 300;
}

.show-objetos {
    color: rgb(0, 90, 126) !important;
    font-weight: 600;
}

.show-json {
    color: rgb(34, 214, 214) !important;
}
.show-error {
    color: red !important;
}


.show-c {
    color: rgb(223, 60, 60) !important;
    font-weight: 500;
}


.show-inc {
    color: rgb(255, 136, 0) !important;
    font-weight: 600;
}